
@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Pixel';
    src: url("font/slkscr-webfont.woff");
}


/* CSS Document */


html{
	height: 100%;
	font-family: 'Pixel';
}
h1{
	margin: 0;
	padding-top: 5%;
	padding-bottom: 10%;
	font-size: 45px;
}

body {
	text-align: center;
	margin: auto auto;
	display: block;
	width: 100%;
overflow: hidden;
	height: 100%;;
	overflow-x: hidden;
	background-image: url(img/original2.gif);
	background-size: 40%;
	background-position: center center;
}

/* le cookie grandi */
.grow:hover {
	-webkit-tranform: scale(1.3);
	-ms-transform: scale(1,3);
	transform: scale(1.3);

}


#cookie {


	background-image: radial-gradient(circle, #ed741f, #cf6921, #b25e23, #965324, #7b4824);
	width: 40%;
	height: 100%;
	margin: auto;
	padding-top: 5%;


}

#multiplier , #bonus {
	margin-top: 30px;
	background-color: #039be5;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';
}

#autoclic:disabled, #multiplier:disabled, #bonus:disabled {
	margin-top: 30px;
	background-color: grey;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';
}
#autoclic {
	margin-top: 30px;
	background-color: #039be5;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';
}

#affichage {
	color: #039be5;
	font-size: 60px;
}

img.grow {

	cursor: url(img/rouleau2.png),auto;
	transition: 0.5s;
	margin-top: 20%;
	display: flex;
	flex: center;
	margin: auto auto;
	background-color: none !important;

	padding-top: 10%;
	padding-bottom: 10%;


}
