@charset "utf-8";
/* CSS Document */


html{
	height: 100%;
}
H1{
	margin: 0;
}
body {
	text-align: center;
	margin: auto auto;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow-x: hidden;
	background-repeat:


}

#cookie {

	background-color: SaddleBrown;
	width: 50%;
	height: 100%;
	margin: auto;

}

#multiplier , #bonus {
	margin-top: 30px;
	background-color: #039be5;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}

#autoclic:disabled {
	margin-top: 30px;
	background-color: grey;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}
#autoclic {
	margin-top: 30px;
	background-color: #039be5;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}

#affichage {
	color: #039be5;
	font-size: 30px;
}
img {
	margin-top: 30px;
	display: flex;
	flex: center;
	margin: auto auto;
	background-color: none !important;
}
