
@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Pixel';
    src: url("font/slkscr-webfont.woff");
}

@media screen and (max-width: 320px) { @viewport { width: 320px; } }

/* CSS Document */


html{
	height: 100vh;
	font-family: 'Pixel';
}
h1{
	margin-top: -8%;
	padding-bottom: 5%;
	font-size: 45px;
}

body {
	text-align: center;
	margin: auto auto;
	display: block;
	width: 100vw;
	height: 100vh;;
	overflow: hidden;
	background-image: url(img/original2.gif);
	background-repeat: repeat;
	background-size: auto;
}

/* le cookie grandi */
.grow:hover {
	-webkit-tranform: scale(1.3);
	-ms-transform: scale(1,3);
	transform: scale(1.3);

}


.grow:active {

  transform: translateY(4px);
}


#cookie {
	background-image: radial-gradient(circle, #ed741f, #cf6921, #b25e23, #965324, #7b4824);
	width: 50vw;
	height: 100vh;
	background-size: auto;
	margin: auto auto;
	padding-top: 5%;

}

#autoclic, #multiplier, #bonus  {
	margin-top: 30px;
	background-color: #039be5;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';
  	line-height: 2.2;
 	margin-left: 30px;
}

/*
#autoclic:hover, #multiplier:hover, #bonus:hover  {
	margin-top: 30px;
	background-color: white;
	color: black;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';
  	line-height: 2.2;
 	 margin-left: 30px;
}
*/
#autoclic:disabled, #multiplier:disabled, #bonus:disabled {
	margin-top: 30px;
	background-color: grey;
	color: white;
	padding: 20px, 0;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Pixel';

}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: red;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}



#affichage {
	color: #039be5;
	font-size: 60px;
}

img.grow {

	cursor: url(img/rouleau2.png),auto;
	transition: 0.5s;
	display: flex;
	flex: center;
	margin: auto auto;
	background-color: none !important;
  	margin-bottom: 15%;
  	margin-top: 10%;
  	filter: drop-shadow(0 0 2rem white);
}

.tooltip {
  background-color: white;
  padding: 10px;

}
